body {
 background-color: #A020F0
 color: gold
 font-family: "Bitcount Grid Single", system-ui;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
 margin: 0;
}

button {
  background-color: #A020F0
  color: yellow;
  font-family: "Bitcount Grid Single", system-ui;
}

.passo {
display: none;
}

.passo.ativo {
display:block;
}

main{
max-width: 90%;
}
